@if(@ViewBag.ErrorMessage != null)
{
    <div>
        <div class="d-flex justify-content-center">
            <h2 class="bg-danger p-3 text-dark">@ViewBag.ErrorMessage</h2>
        </div>
    </div>
}