@model Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />
<partial name="~/Views/Shared/Partials/_ExceptionPartial.cshtml" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <img id="ImagePreview" class="border-info rounded-top" style="width: 200px; height: 200px;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="All">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var output = document.getElementById('ImagePreview');
        $(document).ready(function () {
            output.src = $("#ImageUrl").val();
        })
        $("#ImageUrl").on("change", function () {
            output.src = $(this).val();
        })
</script>
}