@model BookProject.Data.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <img id="ImagePreview" class="border-info rounded-top" style="width: 200px; height: 200px; visibility: hidden" />
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        var output = document.getElementById('ImagePreview');
        $(document).ready(function () {
            output.src = $("#ImageUrl").val();
        })
        $("#ImageUrl").on("focus", () => {
            output.style.visibility = "visible";
        })
        $("#ImageUrl").on("change", function () {
            output.src = $(this).val();
        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
