@model Models.Post;

<h1>Create</h1>
<form asp-controller="Posts" asp-action="Create" method="POST">
	<p>Title:</p>
	<input class="form-control" asp-for="@Model.Title" />
	<input class="form-control" asp-for="@Model.ImageUrl" />
	<button type="submit" class="btn btn-primary">Create</button>
</form>